<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
</head>
<header>Welcome to Hogwarts</header>
<body>
  <nav>
    <ul>
      <li><a href="/students">Students</a></li>
      <li><a href="/house_page">Houses</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>